.address__list {
  @extend %list;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.address__item {
  color: rgba(255, 255, 255, 0.6);

  &:not(:last-child) {
    margin-bottom: 9px;
  }

  &--dark-bg {
    color: var(--txt-dark-bg-color);
  }
}

.address__link {
  @extend %link;
}
