.header-social {
  @extend %list;

  display: inline-flex;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header-social__link {
  @extend %link;
}

.header-social__item {
  position: relative;
}

.header-social__item:not(:last-child) {
  margin-right: 20px;
}

.header-social__item:not(:last-child)::after {
  content: '';
  position: absolute;
  bottom: 0px;
  right: -10px;
  width: 1px;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.2);
}
