.contact {
  @extend %list;
  display: flex;

  @media screen and (max-width: 767.9px) {
    flex-direction: column-reverse;
    margin-bottom: 64px;
    font-size: 24px;
  }

  @media screen and (min-width: 768px) {
    flex-direction: column;
    font-size: 12px;
  }

  @media screen and (min-width: 1200px) {
    align-items: center;
    flex-direction: row;
    font-size: 14px;
  }
}

@media screen and (max-width: 767.9px) {
  .contact__item:last-child {
    margin-bottom: 32px;
    font-size: 34px;
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contact__link {
  @extend %link;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact__icon {
  @media screen and (max-width: 767.9px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    margin-right: 10px;
    fill: currentColor;
  }
}
