.menu {
  @media screen and (max-width: 767px) {
    margin-bottom: 302px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.menu__list {
  @extend %list;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.menu__link {
  @extend %link;

  color: var(--txt-title-color);

  @media screen and (max-width: 767px) {
    font-size: 40px;
  }

  @media screen and (min-width: 768px) {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .menu__link.current::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

@media screen and (max-width: 767px) {
  .menu__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
}
