.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-dark-color);
}

.page-footer__container {
  display: flex;

  @media screen and (max-width: 767.9px) {
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.9px) {
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -60px;
  }

  @media screen and (min-width: 1200px) {
    justify-content: space-between;
    align-items: baseline;
  }
}

.page-footer__block {
  @media screen and (max-width: 767.9px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.9px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: calc((100% - 30px * 2) / 2);
    margin-left: 30px;
    margin-top: 60px;

    &:last-child {
      flex-basis: 100%;
    }
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((50% - 45px) / 2);

    &:last-child {
      flex-basis: calc(50% - 15px);
    }
  }
}

.page-footer__block:not(:last-child) {
  @media screen and (max-width: 767.9px) {
    margin-bottom: 60px;
  }
}

.page-footer__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--txt-dark-bg-color);
}

.page-footer__logo {
  margin-bottom: 20px;
}

.page-footer__form {
  @media screen and (max-width: 1199.9px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
