.page-header {
  border-bottom: 1px solid #ececec;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.page-header__container {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767.9px) {
    position: relative;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.page-header__logo {
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 23px;
    padding-bottom: 23px;
    margin-right: 93px;
  }
}

.page-header .social {
  @media screen and (min-width: 768px) {
    display: none;
  }
}
