.about {
  @media screen and (max-width: 1199.9px) {
    display: none;
  }
}

.about__list {
  @extend %list;

  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.about__item {
  position: relative;
  flex-basis: calc((100% - 30px * 3) / 3);
  margin: 15px;
}

.about__label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--txt-dark-bg-color);
  text-align: center;
}
