.portfolio {
  @extend %list;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.portfolio__item {
  position: relative;
  border-bottom: 1px solid var(--border-color);
  transition: box-shadow var(--time) var(--timing-function);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px * 2) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 30px * 3) / 3);
  }
}

@media screen and (max-width: 767.9px) {
  .portfolio__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.portfolio__item::before {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 1px;
  height: 100%;
  background-color: var(--border-color);
}

.portfolio__item::after {
  content: '';
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 1px;
  height: 100%;
  background-color: var(--border-color);
}

.portfolio__link {
  @extend %link;
  display: block;
  height: 100%;
}

.portfolio__img {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.portfolio__overlay {
  position: absolute;
  top: 100%;
  left: 0;

  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100%;
  padding: 0 24px;
  background-color: rgba(33, 150, 243, 0.9);

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--txt-dark-bg-color);

  transition: transform var(--time) var(--timing-function);

  .portfolio__item:hover &,
  .portfolio__item:focus & {
    transform: translatey(-100%);
  }

  @media screen and (max-width: 359.9px) {
    font-size: 14px;
  }

  @media screen and (min-width: 360px) and (max-width: 399.9px) {
    font-size: 16px;
  }
}

.portfolio__desc {
  padding: 20px 24px;
  background-color: var(--bg-main-color);

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--txt-main-color);
}

.portfolio__title {
  @extend %title;

  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
